.roster {
	padding-top: 25px;
}
.roster h1 {
	margin: 0;
	padding: 15px 0 50px;
	font-weight: 700;
	text-align: center;
}
.roster .image {
	margin: 0 auto;
	width: 140px;
	height: 140px;
	background-size: cover;
	background-position: center center;
	border-radius: 500px;
}
.roster .col-md-4 {
	margin-bottom: 10px;
	text-align: center;
} 