.artist-section:hover {
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
}

#artistcontainer {
    float: left;
    width: 100%;
}

.artist-section {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 320px;
    display: table;
    border: 5px solid #fff;
}

.artist-section h1 {
	color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    display: none;
    background-color: rgba(0,0,0,0.3);
}

/*
#artist-section .buttons {
	padding: 25px 0 0 0;
	margin: 0 auto;
}
#artist-section .buttons ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}
#artist-section .buttons ul li {
	display: inline-block;
}
#artist-section .buttons ul li a {
	padding: 15px;
	margin: 10px 5px;
	display: block;
	background: #1b1b1b;
	color: #ffffff;
	font-weight: 700;
	border-radius: 4px;
	width:48px;
	text-align: center;
}
*/