audio {
  display: none !important;
}

#audio-container{
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 56px;
    background-color: #FFF;
    display: inline;
}

.audio-player {
	height: 35px;
	width: 50%;
    display: inline;
    margin-top: 23px;
    margin-left: 20px;
    float: left;
    align-content: left;
    text-align: left;


}

.audio-player *{
	width: 30px;
	display: inline;
	cursor: pointer;
    color: #000;
}


.audio-player p {
	display: inline;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.05em;
}



.instagram-page-link a:link, .instagram-page-link a:visited, .instagram-page-link a:hover {
	color: rgba(0, 0, 0, 1);
}

@media (max-width: 1024px) {
	.audio-player {
		display: none;
	}
}
