#content {
	padding-bottom: 25px;
}
.post {
	padding: 0 15px 0;
	margin-bottom: 50px;
	border-bottom: 1px solid #f6f6f6;
}
.post h2 {
	margin: 0 0 15px;
	padding: 0;
}
.post h2 a {
	color: #333333;
	-webkit-transition: color 150ms ease-out;
	-moz-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
	transition: color 150ms ease-out;
}
.post h2 a:hover {
	color: #FF360C;
	text-decoration: none;
}
.post .info {
	padding: 10px 0;
	border-top: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
}
.post .info i {
	margin-right: 5px;
}
.post .content {
	padding: 15px 0;
}

#sidebar {
	border-left: 1px solid #f6f6f6;
}
#sidebar h3 {
	padding: 0;
	margin: 0 0 20px;
}
#sidebar ul {
	margin: 0 0 30px;
}
#sidebar .block {
	margin: 0 0 30px;
}

#content #posts div div p a img{
	width:100%;
	height:auto;
}

@media all and (max-width: 991px) {
	#sidebar {
		border-left: none;
	}
}