

#contactlogo .logo {
    float: none;
    margin: auto !important;
    width: 100px;
    height: 70px;
    background-image: url('../img/logos/lava-large.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100px;
    display: block;
    overflow: hidden;
}

#contactlogo{
    margin-top: 3%;
}

.form-control{
    width: 100% !important;
}

#contactform{
    margin-top: 20px;
}

.form-group{
    width: 100% !important;
    clear: both;
}

.input-group{
    width: 100% !important;
}

#contact{
    width: 53.9% !important;
    margin-left: auto;
    margin-right: auto;
}

.form-columnwrap{
    height: 34px;
    float:left;
}

.form-columnwrap{
    width: 63.9%;
    padding-right: -10px;
    margin-right: -10px;
}

.gutterfirst{
    padding-right: 15px;
}


#contact-message{
    height: 100px;
}