#contactlogo{
    margin-top: 40px;
    margin-bottom: 20px;
}

.form-control{
    width: 100% !important;
}

#contactform{
    margin-top: 20px;
}

.form-group{
    width: 100% !important;
}

.input-group{
    width: 100% !important;
}

#contact{
    width: 53.9% !important;
    margin-left: auto;
    margin-right: auto;
}