#contactform input {
	padding: 20px 10px;
}
#contactform textarea {
	padding: 10px;
	min-height: 150px;
}
#contentform select {
	padding: 20px 10px;
}

#map {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -40px;
	padding-bottom: 50px;
}
#map iframe {
	width: 100%;
	height: 250px;
}

#sidebar {
	border-left: 0px solid #f6f6f6;
}
#sidebar h3 {
	padding: 0;
	margin: 0 0 20px;
}
#sidebar ul {
	margin: 0 0 30px;
}
#sidebar .block {
	margin: 0 0 30px;
}