#footer {
	padding: 50px 20px;
	background: #1b1b1b;
	color: #5b5b5b;
	text-align: center;
}
#footer .logo {
	margin: 0 auto;
	width: 145px;
	height: 95px;
	background: url('../img/logos/logo-small.png') top center no-repeat;
	background-size: cover;
}
#footer .col-md-12 {
	margin-top: 25px;
}
#footer iframe {
	width: 100%;
}
#footer input {
	background: #333333;
	border: rgba(255,255,255,.1);
	color: #ffffff;
}
#footer input:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FF360C;
	outline: 0 none;
}