.instagram-page-link {
	height: 35px;
	width: 20%;
	font-weight: bold;
	top: 10px;
    float: right;
    align-content: right;
    text-align: right;
    display: inline;
    padding-top: 10px;
}

.instagram-page-link a{
      text-align: right;
}