nav {
	background-position: center center;
	background-size: cover;
	font-weight: 800;
	color: #ffffff;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	z-index: 1000;
	padding: 5px 40px;
	max-height: 61px;
	background: #000;
    font-family: 'brandon_grotesque_regularRg';
    font-size: 12px;
    line-height: 22px;
    letter-spacing: .18em;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

nav a {
	color: #ffffff;
}

nav div {
	margin: 15px 0;
}

nav li {
	margin: 0 15px;
	text-transform: uppercase;
	background: #000000;
}

nav i {
	margin: 0 2%;
	-webkit-transition: color 150ms linear;
	-moz-transition: color 150ms linear;
	-o-transition: color 150ms linear;
	transition: color 150ms linear;
}

nav .nav-button {
	display: none;
	position: absolute;
	right: 15px;
	width: 30px;
	cursor: pointer;
	margin: 15px 0 0 0;
	font-size: 22px;
	z-index: 2;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

nav .navigation-left {
	min-width: 45%;
	height: 45px;
	float: left;
}

nav .social-media {
	position: absolute;
	width: 12%;
	right: 25%;
}

nav .navigation-right {
	min-width: 20%;
	height: 45px;
	float: right;
	text-align: right;
}

nav ul {
	list-style-type: none;
	background: #000000;
	padding: 0;
}

nav div, nav li {
	display: inline;
}

nav .logo {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 45px;
	background-image: url('../img/logos/lava-main.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;
}
.load {
	position: absolute;
	z-index: 200;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #ffffff url('../img/loaders/ajax-loader.gif') center center no-repeat;
}

article {
	margin-top: 41px;
}


@media all and (max-width: 991px) {
	nav.expanded ul {
		display: block;
		position: fixed;
		height: 50%;
		width: 100%;
		margin: 0 100% 0 0;
	}

	nav.expanded .navigation-right {
		margin: 25% 80% 0 0;
		z-index: 2;
	}

	nav.expanded {
		padding-left: 0;
	}
	
	article {
		margin: 0;
	}
	
	nav ul {
		display: none;
	}

	nav ul {
		display: none;
	}
	
	nav .nav-button {
		display: inline-block;
	}
	nav .logo {
		background-image: url('../img/logos/lava-small.png');
		margin: 0;
		width: 100%;
		height: auto;
		float: left;
		border-radius: 0;
		background-size: cover;
	}
	nav .social-media {
		display: none;
	}
}