

/*
.header-small {
	max-height: 85px !important;
}
.header-small .social-media {
	top: 20px !important;
}
.header-small .navigation ul {
	padding: 16px 0 0 !important;
}
.header-small .logo {
	background-image: url('../img/logos/logo-small.png') !important;
	width: 195px !important;
	height: 65px !important;
}
*/

/**
#sb-site {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .85);
	-moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, .85);
	box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, .85);
}
.sb-slidebar {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #1b1b1b;
}
.sb-slidebar .logo {
	margin: 0 auto;
	width: 145px;
	height: 95px;
	background: url('../img/logos/logo-small.png') top center no-repeat;
	background-size: cover;
}
.sb-slidebar ul {
	margin: 25px 0 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,.3);
}
.sb-slidebar ul li a {
	padding: 20px;
	display: block;
	color: #ffffff;
	background: #1b1b1b;
	border-bottom: 1px solid rgba(0,0,0,.3);
	-webkit-transition: padding-left 150ms linear;
	-moz-transition: padding-left 150ms linear;
	-o-transition: padding-left 150ms linear;
	transition: padding-left 150ms linear;
}
.sb-slidebar ul li a:hover {
	padding-left: 35px;
	text-decoration: none;
}
.sb-slidebar ul li a i {
	margin-right: 8px;
}
.sb-slidebar .info {
	margin: 25px 0 0;
	padding: 0 20px;
	color: #6b6b6b;
	line-height: 24px;
}
.sb-slidebar::-webkit-scrollbar { 
    display: none; 
}
.sb-slidebar h3 {
	padding: 0 20px 0;
	display: block;
	color: #ffffff;
	background: #1b1b1b;
	cursor: pointer;
}
.sb-slidebar #roster-nav-list {
	display: none;
}
*/