.news-left {
width: 50%;
float: left;
}

.news-right {
width: 50%;
float: right;
}

.news-section {
	border: 5px solid #fff;
    overflow: hidden;
}

.news-section h1, .news-section h2 {
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 10%;
    display: none;
    background-color: rgba(0,0,0,0.3);
    font-weight: bold;
}

.news-section p {
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    margin: 0;
    display: none;
    font-size: 14px;
    letter-spacing: 0.125em;
    font-weight: 400;
}

.news-section img {
    height: auto;
    width: 100%;
}

.share-buttons {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}

.share-buttons li {
    display: inline;
    padding: 0 10px;
}