.post-header {
    width: 73%;
    height:377px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.post-header img{
    width:100%;
}

.bodycopy {
    width:53.9%;
    margin-left: auto;
    margin-right: auto;
}

.artist-links a:link, .artist-links a:active, .artist-links a:visited{ 
    color: rgba(255, 52, 12, 100) !important;
    text-decoration: none;
}
.artist-links a:hover{ 
    color: rgba(0, 0, 0, 100) !important;
}

.artist-links{
    padding-bottom: 1.2%;
}